* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

/*NAVBAR*/
.fa-bars {
  display: none;
}
.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 70px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}
.nav_container {
  width: 100%;
  height: 70px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_container .nav_left {
  display: flex;
  margin-left: 20px;
}
.nav_container .nav_left h2 {
  color: gray;
  margin-right: 10px;
  font-weight: 200;
}
.nav_container .nav_left h2:hover {
  text-decoration: underline;
}
.nav_container .nav_right {
  margin-right: 70px;
}

/*CART*/
.cart-icon {
  font-size: 2em;
  color: black;
}
.cart-container {
  text-align: center;
}
.basket {
  position: relative;
}
.basket div {
  background-color: indianred;
  position: absolute;
  top: -5px;
  right: -15px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.basket span {
  color: white;
  font-weight: bold;
}

/*HOME*/
.cover_pic {
  background: url("./cover_pic.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.product_title {
  text-align: center;
  padding: 30px;
  font-size: 25px;
  color: gray;
}
.home_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-container {
  width: 300px;
  margin: 20px;
  border: 2px solid rgb(236, 236, 236);
}
.product {
  width: 100%;
  height: 100%;
}
.product-img {
  width: 100%;
  overflow: hidden;
}
.product-name {
  text-align: center;
}
.product-img img {
  width: 100%;
  transition: 0.3s linear;
}
.product-img img:hover {
  transform: scale(1.2);
}
.price-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  font-size: 20px;
}
.price {
  text-decoration: line-through;
}

/*DETAILS PAGE*/

.details-container {
  width: 100%;
  padding: 100px;
  display: flex;
}
.details-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.details-right-info {
  width: 50%;
}
.details-img img {
  width: 80%;
  margin: 0px 25px;
}
.details-name h1 {
  font-weight: 500;
}
.details-price {
  margin: 20px 0px;
}
.details-actual-price {
  text-decoration: line-through;
  font-size: 25px;
}
.details-disc-price {
  margin-left: 30px;
  font-size: 25px;
}
.details-info {
  display: flex;
 
}
.dec i, .inc i, .details-btn {
  padding: 12px 16px;
  border: 2px solid lightgray;
  height: 100%;
}
.quantity {
  border: 2px solid lightgray;
  border-left: none;
  border-right: none;
  height: 100%;
  padding: 13px 18px;
}
.dec i, .inc i {
  cursor: pointer;
}
.details-btn {
  margin-left: 20px;
  width: 100%;
  color: white;
  background-color: indianred;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.details-description {
  margin-top: 20px;
}
.details-description h2 {
  font-weight: 500;
  margin-bottom: 12px;
}

/*SHOPPING CART*/
.cart-container {
  margin-top: 100px;
  min-height: 70vh;
}
.cart-title {
  margin: 10px 0px;
}
.cart-heading {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}
.cart-summary {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  padding: 10px;
}
.cart-summary h2 {
  font-weight: 100;
}
.cart-products {
display: flex;
}
.cart-heading div {
  width: 15%;
}
.cart-left-side {
  width: 75%;
}
.cart-products-wrapper {
  display: flex;
  margin: 5px 0px;
}
.cart-products-wrapper div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-image img {
  width: 60%;
}
.cart-trash i {
  font-size: 22px;
   cursor: pointer;
}
.summary-display {
  background-color: indianred;
  padding: 10px;
  margin: 12px;
}
.summary-display div {
  font-size: 20px;
}
.buy-btn {
  cursor: pointer;
  color: black;
  background-color: rgb(233, 233, 233);
  width: 90%;
  padding: 8px;
  margin: 10px auto;
}
.summary-total, .summary-price {
  color: white;
}
/*CONTACT*/
.contact-container {
  margin-top: 100px;
  text-align: center;
  min-height: 70vh;
}
.contact-container h2 {
  font-weight: 400;
}
.contact-container input, .contact-container button {
  margin: 10px 0px;
  padding: 10px;
  width: 22%;
}
.contact-container input {
  border: 2px solid lightgray;
}
.contact-container input:focus {
  outline: none;
}
.contact-container input::placeholder {
  font-size: 15px;
}
.contact-container button {
  border: none;
  font-size: 17px;
}
.signup_container {
  display: none;
  margin: 0 auto;
  width: 350px;
}
.signup_container div input, .signup_container button {
  width: 100%;
}
.display_signup, .display_login {
  color: blue;
  cursor: pointer;
}
.login_container {
  display: flex;
  justify-content: center;
}
.login_container .login, .login_container .send_message {
  width: 25%;
}
.login input, .login button, .send_message input, .send_message textarea, .send_message button {
  width: 90%;
}
.send_message textarea {
  border: 2px solid lightgray;
  outline: none;
}
.send_message textarea::placeholder {
  font-size: 1.15em;
  padding: 8px;
}
.login_container button, .signup_container button {
  cursor: pointer;
  font-weight: bold;
}
.login_container button:hover, .signup_container button:hover {
  background-color: rgb(173, 173, 173);
}
.contact_us h2 {
  text-align: center;
}
.contact_us div {
  text-align: left;
  margin: 20px;
  color: gray;
}
.contact_us div i {
  margin-right: 10px;
}
.login div {
  position: relative;
}
.login i {
  position: absolute;
  right: 30px;
  top: 22px;
  z-index: 1;
  display: none;
}
.form_errors {
  color: red;
  font-size: 0.8em;
}
.input_pass, .pass_confirm_signup {
  position: relative;
}
.input_pass:hover .eye_open {
  color: gray;
}
.input_pass:hover .eye_close {
  color: gray;
}
.eye_open, .eye_close {
  position: absolute;
  right: 35px;
  top: 18px;
  color: lightgray;
  font-size: 1.5em;
}
.eye_open:hover, .eye_close:hover, .viewEye_signup:hover, .hideEye_signup:hover {
  cursor: pointer;
}
.viewEye_signup, .hideEye_signup {
  position: absolute;
  right: 20px;
  top: 18px;
  color: lightgray;
  font-size: 1.5em;
}
.eye_close, .hideEye_signup {
  display: none;
}
.eye_open, .viewEye_signup {
  display: block;
}
.signup_container:hover .viewEye_signup, .signup_container:hover .hideEye_signup {
  color: gray;
}

/*ABOUT*/
.about_container {
  margin: 100px;
  min-height: 63vh;
}
.about_title {
  text-align: center;
  margin: 20px;
  font-weight: 200;
}
.about_text {
  letter-spacing: 2px;

}

/*FOOTER*/
.footer_container {
  margin-top: 30px;
  height: 70px;
  box-shadow: 20px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.made_by {
  text-align: center;
  font-size: 20px;
}
.made_by span {
  color: indianred;
}
.socialNetwork_icon i {
  margin: 0 10px;
  font-size: 30px;
  color: gray;
}
/*UNDERFOOTER*/
.underFooter_container {
  display: flex;
  justify-content: space-around;
}
.underFooter_container div {
  width: 20%;
  padding: 30px;
}
.underFooter_container div i {
  margin: 10px 0px;
  font-size: 30px;
  color: gray;
}
.underFooter_container div h3 {
  color: gray;
}
.underFooter_container div p {
  color: gray;
}

@media screen and (max-width: 1250px) {
  .cover_pic {
    background-position: center;
  }
}

@media screen and (max-width: 1000px) {
  .cover_pic {
    background-position: left;
  }
  .details-container {
    padding: 100px 50px;
  }
  .summary-display {
    padding: 5px;
    margin: 5px;
  }
  .summary-display div {
    font-size: 17px;
  }
  .cart_inc_dec {
    display: flex;
    flex-direction: column;
    width: 30px;
  }
  .cart_inc_dec span {
    padding: 0px;
    border: none;
  }
  .cart_inc_dec span i {
    padding: 3px;
    font-size: 15px;
   border-radius: 50%;
  }
  .about_container {
    margin: 100px 50px;
    min-height: 63vh;
  }
}

@media screen and (max-width: 768px) {
  .cover_pic {
    background-position: -40px;
  }
  .fa-bars {
    display: block;
    font-size: 23px;
    cursor: pointer;
  }
  .nav_left {
    position: fixed;
    top: 70px;
    left: -60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: white;
  }
  .nav_left h2 {
    margin: 10px 0px;
  }
}